@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Ce site est réalisé en <a href="https://en.wikipedia.org/wiki/C_Sharp_%28programming_language%29">C#</a>, utilise les <i>frameworks</i> <a href="http://www.asp.net/">ASP.NET</a> et <a href="http://www.asp.net/mvc">MVC6</a> ainsi que le système de rendu <a href="http://weblogs.asp.net/scottgu/introducing-razor">Razor</a>. 
    
    Il est hébergé par <a href="http://centos.org/">CentOS 6.5</a>, sur un serveur dédié de <a href="http://www.ovh.com">OVH</a>. L'application en elle-même est dans un conteneur <a href="https://www.docker.com/">Docker</a> servi
   par un serveur mandataire inverse <a href="http://nginx.org/">nginx</a>.</p>

<p>J'ai créé ce site par intérêt pour toutes ces technologies ce qui m'a permis de les découvrir intrinsèquement. Tout ceci n'est qu'un hobby, mon coeur de métier étant le test et la mesure de 
    performance des différents services faisant fonctionner les divers réseaux modernes.</p>

<p>Je suis actuellement employé par <a href="http://www.spirent.com">Spirent Communications</a> comme spécialiste des couches applicatives (4-7 du modèle OSI) et sécurité.</p>

<p>Le thème de ce site (<a href="http://startbootstrap.com/template-overviews/clean-blog/">Clean Blog</a>) a été créé par Iron Summit Media Strategies, LLC et est distribué sous license <a href="https://github.com/IronSummitMedia/startbootstrap-clean-blog/blob/gh-pages/LICENSE">Apache 2.0</a>. 
    L'image de la page d'aceueil est libre de droit et est gracieusement fournie par <a href="https://www.flickr.com/photos/beraldoleal/">Beraldo Leal</a>.<p>
