@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Technique</h2>
<p>Ce site est réalisé en <a href="https://en.wikipedia.org/wiki/C_Sharp_%28programming_language%29">C#</a>, utilise les <i>frameworks</i> <a href="http://www.asp.net/">ASP.NET Core</a> et <a href="http://www.asp.net/mvc">MVC6</a> ainsi que le système de rendu <a href="http://weblogs.asp.net/scottgu/introducing-razor">Razor</a>.

    Il est hébergé par <a href="http://centos.org/">CentOS</a>, sur un serveur dédié de <a href="http://www.ovh.com">OVH</a>. L'application en elle-même est exécutée par <a href="https://www.microsoft.com/net/core/platform" target="_blank">.NET Core</a> et déservie
   par un serveur mandataire inverse <a href="http://nginx.org/">nginx</a>.</p>

<p>J'ai créé ce site par intérêt pour toutes ces technologies, ce qui m'a permis de les découvrir intrinsèquement. Tout ceci n'est qu'un hobby, mon coeur de métier étant le test et la mesure de
    performance des différents services faisant fonctionner les divers réseaux modernes.</p>

<p>Je suis actuellement employé par <a href="http://www.spirent.com">Spirent Communications</a> comme spécialiste des couches applicatives (4-7 du modèle OSI) et sécurité.</p>
<h2>Crédits</h2>
<p>
    Toutes les images de ce site sont libre de droit sous condition de citer leur auteur, ce qui est fait ci-dessous. La licence de chaque image est au minimum Creative Commons <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>.
    <ul>
        <li>Le thème de ce site (<a href="http://startbootstrap.com/template-overviews/clean-blog/">Clean Blog</a>) a été créé par Iron Summit Media Strategies, LLC et est distribué sous license <a href="https://github.com/IronSummitMedia/startbootstrap-clean-blog/blob/gh-pages/LICENSE">Apache 2.0</a>.</li>
        <li>Les images de la page d'accueil et "projets" sont fournies par <a href="https://www.flickr.com/photos/beraldoleal/">Beraldo Leal</a>.</li>
        <li>L'image de la page "A propos " provient de <a href="https://www.flickr.com/photos/spacexphotos/16661753958/in/gallery-flickr-72157651480893056/">SpaceX</a>.</li>
        <li>L'image de la page "Contact" est fournie par <a href="https://www.flickr.com/photos/glasgows/225519627/">M Glasgow</a>.</li>
        <li>L'image de la page "Outils" est fournie par <a href="https://www.flickr.com/photos/batega/1596898776/">Josep Ma. Rosell</a>.</li>
    </ul>
<p>
