@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Compétences</h2>
<p>TCP/IP; pare-feux (principalement Check Point, Fortinet &amp; Palo Alto); IPS; WAF; Linux (notamment CentOS et Debian); développement (C#, PHP, TCL, HTML); base de donnée (MariaDB, MySQL, PostgreSQL); Virtualisation/Cloud (VMWare, Microsoft Azure); CDN; présentation en clientèle ou en conférence.</p>
<p>Excellente maîtrise du français et de l'anglais.</p>
<h2>Depuis Mai 2015</h2>
<h3>Spirent Communications - Technical Lead, Layer 4-7, EMEA</h3>
<p>
    En plus des charges de mon poste précédent, je suis ici plus impliqué dans les relations avec nos clients majeurs et contribue à faire fructifier nos relations.
    Cela peut inclure ma présence lors de conférences, de l'assistance pour des scénarios de test particulièrement avancés, ou tout autre type de partenariat.
</p>
<p>Je suis aussi en charge d'évaluer les nouveaux produits lors de leur développement de sorte à pouvoir former nos équipes lors de leur disponibilité.</p>
<h2>Janvier 2012 - Mai 2015</h2>
<h3>Spirent Communications - Senior System Engineer, Application & Security Business Development, EMEA</h3>
<p>Ce poste est en tout point similaire au précédent mais acquiesce de mon ancienneté.</p>

<h2>Octobre 2009 - Janvier 2012</h2>
<h3>Spirent Communications - System Engineer, Application & Security Business Development, EMEA</h3>
<p>
    Ce poste fait de moi le référent technique de la région EMEA pour tous les produits "Layer 4-7" et sécurité de Spirent. Je suis en charge de former les ingénieurs systèmes du groupe,
    d'accompagner les équipes de vente sur différents projets (notamment ceux particulièrement stratégiques ou a forte visibilité), d'assister nos clients majeurs au jour le jour, de
    faire le lien entre nos équipes de développement et nos clients.
</p>