@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>J'ai créé ce petit site pour me présenter à Internet et me réserver une petite place sur le réseau des réseaux.</p>
<p>On peut considérer que ces quelques pages sont un peu mon CV en ligne. Des liens en bas de page amèneront le chalant vers mes différents points de présence sur les réseaux sociaux.</p>