
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>Pour le curriculum, c'est @Html.ActionLink("par ici", "Curriculum").</p>
<h2>Stateful thoughts</h2>
<p>Mon blog concernant les tests et mesures de performances principalement des couches 4 à 7. Il est surtout question de <a href="http://www.spirent.com/go/avalanche">Spirent Avalanche</a>.</p>
<p>URL: <a href="https://synsynack.wordpress.com" target="_blank">https://synsynack.wordpress.com</a></p>

<h2>Harhar</h2>
<p>Programme permettant de convertir des Archives HTTP générés par Chrome au format du générateur de charge Avalanche - et ainsi reproduire le trafic sous forte charge. Utilise la librairie <b>Harnet</b> que j'ai écrite pour l'occasion.</p>
<p>
    URL: <a href="http://acastaner.github.io/harhar/">http://acastaner.github.io/harhar/</a><br />
    URL: <a href="https://github.com/acastaner/harnet">https://github.com/acastaner/harnet</a>
</p>

<h2>Pillars of Eternity DevTracker</h2>
<p>J'aime les jeux vidéo, surtout les RPGs. J'ai créé un site web doublé d'un <i>crawler</i> permettant de surveiller les forums officiels pour tout nouveau message posté par les développeurs de <a href="https://eternity.obsidian.net/" target="_blank">Pillars of Eternity</a>. Le code source est libre et quiconque est libre de s'en inspirer pour ses popres besoins.</p>
<p>URL: <a href="https://github.com/acastaner/PEDevTracker" target="_blank">https://github.com/acastaner/PEDevTracker</a></p>