@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Adresse IP</h2>
<p>Votre adresse IP est: @ViewBag.RemoteIpAddress</p>

<h2>Navigateur</h2>
<p>Votre <i>User-Agent</i> est: @ViewBag.BrowserUserAgent</p>